<!DOCTYPE html>
<html lang="en" ng-app="test">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Chuck Norris Jokes Bot</title>

  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/ui.js">
  </script>
<style>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
</style>

</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Chuck Norris Bot for Telegram</h1>
      <p>Jokes: <a href="https://api.chucknorris.io/" target="_blank">https://api.chucknorris.io/</a></p>
      <p>GitHub jorgelillo7: <a href="https://github.com/jorgelillo7/ChuckNorrisJokesBot" target="_blank">GitHub jorgelillo7</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6" ng-controller="DisplayController as dispCtrl">
        <p> <b>Telegram url: </b><a href="http://telegram.me/ChuckNorrisJokesBot" target="_blank">http://telegram.me/ChuckNorrisJokesBot</a></p>
	 <p>Project to test <a href ="https://nodejs.org/en/" target="_blank">Node.js</a>, <a href = "https://www.heroku.com" target="_blank"> heroku</a> and <a href="https://core.telegram.org/bots/api" target="_blank"> Telegram Api </a> :D </a></p>
        <p> Thanks to ICNDb for its api, without them we wouldn't have ChuckBot</p>
      </div>
    </div>
  </div>

<div class="footer">
	<div class="container">
	  <p><b>Author:</b> Jorge Lillo (2015) </p>
	  <p><b>Contact mail:</b> <a href="mailto:jorge.lillo9@gmail.com">jorge.lillo9@gmail.com</a></p>
	</div>
 </div>
</body>

</html>
